@import "../styles/1_core/breakpoints";
@import "../styles/1_core/variables";

.main {
  display: grid;
  grid-template: " . content . " auto / 1fr $content-width 1fr;

  @media only screen and (max-width: $breakpoint-big) {
    grid-template: " content " auto / 1fr;
  }
}

.content {
  grid-area: content;
  padding: 0 20px;
}