@import "../styles/1_core/breakpoints";

.noteForm {
  display: grid;
  gap: 12px;
}

.textArea {
  resize: vertical;

  div {
    min-height: 420px;

    @media only screen and (max-width: $breakpoint-middle) {
      min-height: 280px;
    }
  }

  [data-slot~="input"] {
    min-height: 100%;
  }
}

.select {
  grid-area: select;
  border-color: blue;
}

.timeIcon {
  width: 20px;
  height: 20px;
}

.passwordInput {
  grid-area: password;
}

.noteButtons {
  display: grid;
  gap: 20px;
  grid-template:
          " select password" max-content
          / 1fr    1fr;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $breakpoint-middle) {
    gap: 12px;
    grid-template:
          " select  " max-content
          " password " max-content
          / 1fr;
  }
}

.passwordVisibleBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.passwordIcon {
  width: 24px;
  height: 24px;
}