.notePage {
  display: grid;
  gap: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.content {
  display: grid;
  align-items: center;
  gap: 12px;
}

.notes {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.timeIcon {
  width: 20px;
  height: 20px;
}