@import "../styles/1_core/breakpoints";

.noteForm {
  display: grid;
  gap: 12px;
}

.select {
  grid-area: select;
  border-color: blue;
}

.textArea {
  resize: vertical;

  div {
    min-height: 420px;
  }
}

.timeIcon {
  width: 20px;
  height: 20px;
}

.linkBtn {
  grid-area: linkBtn;
}

.noteButtons {
  display: grid;
  gap: 20px;
  grid-template:
          " select linkBtn" max-content
          / 1fr    1fr;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $breakpoint-middle) {
    grid-template:
          " select  " max-content
          " linkBtn " max-content
          / 1fr;
  }
}

.passwordVisibleBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.passwordIcon {
  width: 24px;
  height: 24px;
}